*{
    margin: 0;
    padding: 0;
}

.about-main{
    background-color: #1976d2;
    height: 100vh;
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-title{
    color: orange;
    font-size: 3rem;
    text-align: center;
    margin: 3%;
}

.about-container{
    display: flex;
    justify-content: space-around;
    place-items: center;
}

.inner-container{
    color: #1976d2;
    background-color: white;
    /* box-shadow: 1px 1px 7px 7px #0156aa; */
    box-shadow:  20px 20px 50px white,
                -5px -5px 60px black;
    border-radius: 15%;
    margin: 3%;
    margin-top: -5%;
    height:fit-content;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
    text-align: center;
}

.inner-container h2{
    color: orange;

}

.inner-container img{
    margin: 3%;
    border: 1px #1976d2;
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .about-main{
        height: auto;
    }

    .about-container{
        width: 100%;
        height: auto;
        flex-direction: column;
        width: 70%;
        margin: 15%;
        margin-top: 5%;
    }

    .about-title{
        margin-top: 5%;
        font-size: 2rem;
    }

    .inner-container{
        padding: 5%;
        width: 100%;
        margin: 10%;
        font-size: 0.8rem;
        box-shadow:  5px 5px 20px white,
                -5px -5px 20px black;
    }

    .inner-container img{
        width: 30%;
    }
}

@media screen and (max-width: 450px) {
    .about-title{
        margin-top: 10%;
        font-size: 1.3rem;
    }
}