*{
    font-family: "IBM Plex Sans", sans-serif;
    padding: 0;
    border: 0;
}

.home-container{
    margin-top: 5%;
    padding-left: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    height: 100vh;
}

.home-sub-container{
    width: 50%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 0%;
}

.home-sub-container h1{
    color: #1976d2;
    font-size: 4rem;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: normal;
}


.home-sub-container p{
    color: #1976d2;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 200%;
    display: flex;
    text-align: left;
}

.book-demo{
    width: 30%;
    padding: 2%;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: transparent;
    border: 1px orange solid;
    color: orange;
    transition: 0.5s;
}

.book-demo:hover{
    background-color: orange;
    color: white;
}

img{
    margin-top: 3%;
    width: 40%;
    height: 70%;
}

@media screen and (max-width: 850px) {
    .home-container{
        margin-top: 10%;
    }

    .home-sub-container h1{
        font-size: 2.8rem;
    }

    .home-sub-container p{
        font-size: 1.5rem;
    }

    img{
        height: 60%;
    }

    .book-demo{
        width: 70%;
    }
}

@media screen and (max-width: 420px) {

    *{
        margin: 0;
        padding: 0;
    }

    .home-container{
        flex-direction: column;
        justify-content: center;
    }

    img{
        margin-left: 5%;
        width: 80%;
        height: 40%;
    }

    .home-sub-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .home-sub-container h1{
        font-size: 30px;
        width: 80%;
        text-align: center;
    }

    .home-sub-container p{
        width: fit-content;
        font-size: 15px;
        padding: 4%;
    }

    .book-demo{
        font-size: 1rem;
        padding: 3%;
        width: 50%;
        height: 50%;
    }
}